@using ClassLibrarySeminarski.Model;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.EntityFrameworkCore.Infrastructure
@using OnlineFitnessShop.ViewModels
@{
    ViewData["Title"] = "Dodaj";

   var gradovi = (List<SelectListItem>)ViewData["Gradovi"];

    var dobavljaciKategorije = (List<SelectListItem>)ViewData["DobavljaciKategorije"];
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model OnlineFitnessShop.ViewModels.DobavljacDodajVM;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj dobavljača</title>
    <link rel="stylesheet" href="~/css/Administracija/administracijaLayout.css">
</head>
<body>
<div class="panel-heading">
    <div class="panel-title">
        Dodavanje novog dobavljača
    </div>
</div>
<div class="dodajDobavljacaForm">
    <form asp-action="Spremi" id="dodavanjeDobavljaca">
        <input asp-for="DobavljacID" class="form-control" hidden/><br/>
        <div class="form-group">
            <label>Naziv dobavljača</label>
            <input asp-for="Naziv" class="form-control"/><br/>
            <span asp-validation-for="Naziv" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Broj telefona</label>
            <input asp-for="BrojTelefona" class="form-control"/>
            <span asp-validation-for="BrojTelefona" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Email adresa</label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label>Grad</label>
            <select asp-for="GradID" class="form-control" asp-items="gradovi">
                <span asp-validation-for="GradID" class="text-danger"></span>
                <option hidden readonly value="">Odaberi grad dobavljača</option>

            </select>
        </div>

        <div class="form-group">
            <label>Adresa</label>
            <input asp-for="Adresa" class="form-control"/>
            <span asp-validation-for="Adresa" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label>kategorija dobavljača:</label>
            <select asp-for="DobavljacKategorijaID" class="form-control" asp-items="dobavljaciKategorije">
                <span asp-validation-for="DobavljacKategorijaID" class="text-danger"></span>
                <option hidden readonly value="">Odaberi kategoriju dobavljača</option>

            </select>
        </div>

        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Dodaj</button>

    </form>
</div>

</body>
</html>

<script>
    $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
        },
        "Please check your input."
    );

    $("#dodavanjeDobavljaca").validate({
        rules: {
            Naziv: {
                required: true,
                minlength: 4,
                regex: /^[A-Z]+[a-zA-Z.]{1,}/
            },
            BrojTelefona: {
                required: true,
                regex: /^\+387 06[0-9]{1}-[0-9]{3}-[0-9]{3}/

            },
            GradID: {
                required: true
                
            },
            Adresa: {
                required: true,
                minlength: 5
            },
            Email: {
                required: true,
                regex: /([a-z0-9.]{1,61})@@([a-z]{2,}).com/

            },
            DobavljacKategorijaID: {
                required: true
                
            }


        },
        messages: {
            Naziv: {
                required: "Naziv dobavljača je obavezno polje!",
                minlength: "Minimalno unesi 4 slova!",
                regex: "Prvo slovo mora biti veliko"
            },
            BrojTelefona: {
                required: "Broj telefona je obavezan!",
                regex: "format: +387 06X-111-111"
            },
            GradID: {
                required: "Obavezno odaberi grad dobavljača!"
            },
            Adresa: {
                required: "Polje je obavezno"

            },
            Email: {
                required: "Email je obavezno polje!",
                regex: "format: nesto@nesto.com"
            },
            DobavljacKategorijaID: {
                required: "Obavezno odaberi kategoriju dobavljača!"
            }
        }
    });
</script>


