
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Upravljanje dobavljačima</h3>
    <table border="1" class="table-bordered">
        <tr>
            <td>Prikaži dobavljače</td>
            <td>
                <a href="/Administrator/Prikaz">
                    <input type="button" value="Prikaz" />
                </a>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>Dodaj novog dobavljača</td>
            <td>
                <a href="/Administrator/Dodaj">
                    <input type="button" value="Dodaj" />
                </a>
            </td>
        </tr>
    </table>

</body>
</html>

