
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uspjesno</title>
</head>
<body>
    <h3>Uspjesno ste obrisali dobavljača @TempData["DobavljacObrisan"]</h3>
    <a href="/Administrator"><input type="button" value="Nazad" /></a>
</body>
</html>
