@{
    Layout = "UserLayout";
    string porukaE = (string)TempData["porukaE"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aktivacija računa</title>
    <script src="~/js/User/completed.js"></script>
    <style>

        h2 {
            color: black;
            text-align: center;
            font-weight: bold;
            font-size: large;
            margin-top: 0;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        h3 {
            color: black;
            text-align: center;
            font-weight: bold;
            font-size: larger;
            margin-top: 0;
            margin-bottom: 10px;
        }

        .img-No {
            height: 150px;
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 30px;
            margin-top: 180px;
        }
    </style>
</head>
<body>
    @if (porukaE != null)
    {
        <img class="img-No" src="~/images/greska.png" alt="">
        <h2>@porukaE</h2>
        <h3>Možete koristiti opciju logiranja.</h3>

    }
    else
    {
        <img class="img-No" src="~/images/Succ.png" alt="">
        <h2>Uspješno ste aktivirali račun !</h2>
        <h3>Sada možete koristiti opciju logiranja.</h3>
    }
</body>
</html>
