@using OnlineFitnessShop.ViewModels;
@using ClassLibrarySeminarski.Model;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model OnlineFitnessShop.ViewModels.Autentifikacija.ProfilVM;
@{
    string error_poruka = (string)TempData["error_poruka"];
    Layout = "blank";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Autentifikacija/main2.css">
</head>
<body>
    <div class="container-login100">
        <div class="regform">
            <form asp-action="Snimi" id="registracija" enctype="multipart/form-data">
                <span class="reg-form-title">
                    Registracija računa
                </span>
                <div class="row">
                    <div class="form-half">
                        <div class="form-group">
                            <label>Ime</label>
                            <input asp-for="Ime" autocomplete="off" class="form-control" /><br />
                        </div>

                        <div class="form-group">
                            <label>Prezime</label>
                            <input asp-for="Prezime" autocomplete="off" class="form-control" /><br />
                        </div>

                        <div class="form-group">
                            <label>Username</label>
                            <input asp-for="Username" autocomplete="nope" class="form-control" /><br />
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input asp-for="Password" autocomplete="new-password" id="Password" type="password" class="form-control" /><br />
                        </div>

                        <div class="form-group">
                            <label>Potvrda Password-a</label>
                            <input name="passw" id="passw" type="password" autocomplete="off" class="form-control" /><br />
                        </div>

                        <div class="form-group">
                            <label>Slika</label>
                            <input asp-for="@Model.Slika" class="form-control" /><br />
                        </div>

                    </div>
                    <div class="form-half">

                        <div class="form-group">
                            <label>E-mail adresa</label>
                            <input asp-for="Email" autocomplete="off" class="form-control" /><br />
                        </div>

                        <div class="form-group">
                            <label>Datum rođenja</label>
                            <input asp-for="DatumRodjenja" type="date" class="form-control" value="" style="height:34px;" /><br />
                        </div>

                        <div class="form-group">
                            <label>Spol</label>
                            <select asp-for="Spol" class="form-control" asp-items="Model.spolovi">
                                <option hidden readonly value="">Odaberi spol</option>
                            </select><br />
                        </div>

                        <div class="form-group">
                            <label>Grad</label>
                            <select asp-for="GradID" class="form-control" asp-items="Model.gradovi">
                                <option hidden readonly value="">Odaberi grad</option>
                            </select><br />
                        </div>

                        <div class="form-group">
                            <label>Adresa</label>
                            <input asp-for="Adresa" autocomplete="off" class="form-control" /><br />
                        </div>

                        <div class="form-group">
                            <label>Broj telefona</label>
                            <input asp-for="BrojTelefona" autocomplete="off" class="form-control" /><br />
                        </div>
                    </div>
                </div>

                @if (error_poruka != null)
                {
                    <br />
                    <div class="alert alert-danger">
                        @error_poruka
                    </div>
                }


                <button type="submit" class="reg-form-btn">
                    Registracija
                </button>


            </form>
            <br />
           
        </div>
    </div>
</body>
<script>
    $.validator.addMethod(
        "regex",
        function (value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
        },
        "Please check your input."
    );

    $("#registracija").validate({
        rules: {
            Ime: {
                required: true,
                minlength: 3,
                regex: /^[A-Z]+[a-zA-Z]{1,}/
            },
            Prezime: {
                required: true,
                minlength: 3,
                regex: /^[A-Z]+[a-zA-Z]{1,}/
            },
            DatumRodjenja: {
                required: true
            },
            Email: {
                required: true,
                regex: /([a-z0-9._-]{1,61})@@([a-z]{2,}).(com|ba)/

            },
            BrojTelefona: {
                required: true,
                regex: /^\+387 06[0-9]{1}-[0-9]{3}-[0-9]{3,4}/

            },
            GradID: {
                required: true

            },
            Spol: {
                required: true
            },
            Adresa: {
                required: true,
                minlength: 5
            },
            Username: {
                required: true,
                regex: /^[a-zA-Z]{2,40}/

            },
            Password: {
                required: true,
                regex: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,40}$/

            },
            passw: {
                required: true,
                regex: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}$/,
                equalTo: "#Password"

            }
        },
        messages: {
            Ime: {
                required: "Obavezno polje!",
                minlength: "Minimalno unesi 3 slova!",
                regex: "Prvo slovo mora biti veliko"
            },
            Prezime: {
                required: "Obavezno polje!",
                minlength: "Minimalno unesi 3 slova!",
                regex: "Prvo slovo mora biti veliko"
            },
            DatumRodjenja: {
                required: "Obavezno polje!",
            },
            Email: {
                required: "Obavezno polje!",
                regex: "format: text@text.com(ba)"
            },
            BrojTelefona: {
                required: "Obavezno polje!",
                regex: "format: +387 06X-XXX-XXX(X)"
            },
            GradID: {
                required: "Obavezno polje!"
            },
            Spol: {
                required: "Obavezno polje!"
            },
            Adresa: {
                required: "Obavezno polje!",
                minlength: "Minimalno unesi 5 slova!"

            },
            Username: {
                required: "Obavezno polje!",
                regex: "Username mora sadrzavati slova!"
            },
            Password: {
                required: "Obavezno polje!",
                regex: "Minimalno 6 karaktera , 1 veliko slovo i 1 broj !"
            },
            passw: {
                required: "Obavezno polje!",
                regex: "Minimalno 6 karaktera , 1 veliko slovo i 1 broj !",
                equalTo: "Passwordi se ne podudaraju!"
            }




        }


    });
</script>
