@{
    Layout = "UserLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPermission</title>

    <style>
        h3 {
            color: #e60000;
            text-align: center;
            font-weight: bold;
            font-size:larger;
            margin-top: 30px;
            text-transform:uppercase;
        }

        .img-No{
            height:180px;
            width:180px;
            margin-left:auto;
            margin-right:auto;
            display:block;
            margin-top:100px;
        }
    </style>
</head>
<body>
    <img  class="img-No" src="~/images/Nop.png" alt="">
    <h3>Nemate permisiju za admin panel !</h3>
</body>
</html>
