@using ClassLibrarySeminarski.Model;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.EntityFrameworkCore.Infrastructure
@using OnlineFitnessShop.ViewModels
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewData["Title"] = "Dodaj veličine";
    string error_poruka = (string)TempData["error_poruka"];
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@model OnlineFitnessShop.ViewModels.AdministratorVMs.DodajOdjecaVelicineVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj veličine za odjeću</title>

</head>
<body>

    <div class="DodajVelicinuOdjeceMainForm">
        <div class="panel-heading">
            <div class="panel-title">
                Dodavanje nove veličine
            </div>
        </div>
        <div class="slikaOdjece">
            <img src="/images/@Model.imageUrl" width="250px" height="250px" />
        </div>
        <form asp-action="SpremiVelicinuOdjece" id="dodajVelicinuOdjeceForma">
            <div class="form-group">
                <input asp-for="OdjecaID" class="form-control" hidden />
                <label>Veličina</label>
                @*<input asp-for="Velicina" class="form-control" />
            <span asp-validation-for="Velicina" class="text-danger"></span>*@
                <select asp-for="Velicina" class="form-control" asp-items="Model.velicine">
                    <span asp-validation-for="Velicina" class="text-danger"></span>
                    <option hidden readonly value="">Odaberi novu veličinu za dodavanje</option>
                </select>
            </div>
            @if (error_poruka != null)
            {
                <br />
                <div class="alert alert-danger">
                    @error_poruka
                </div>
            }
            <div class="form-group">
                <label>Kolicina na stanju unesene veličine</label>
                <input asp-for="kolicina" class="form-control" />
                <span asp-validation-for="kolicina" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Spremi veličinu</button><a href="/AdministratorProizvod/PrikazVelicine?OdjecaID=@Model.OdjecaID" class="btn btn-secondary"><span class="glyphicon glyphicon-chevron-left"></span>Nazad na prikaz veličina</a>

        </form>
    </div>
</body>
</html>




<script>
    $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
        },
        "Please check your input."
    );

    $("#dodavanjeVelicinaOdjeca").validate({
        rules: {
            Velicina: {
                required: true,
             
            },
            kolicina: {
                required: true,
                min:1
            }
        },
        messages: {
            Velicina: {
                required: "Velicina je obavezno polje!",
            },
            kolicina: {
                required: "Unesi količinu unesene veličine na stanju",
                min:"Unesi količinu veću od 0!"
            }
        }


    });
</script>


