@using ClassLibrarySeminarski.Model;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.EntityFrameworkCore.Infrastructure
@using OnlineFitnessShop.ViewModels
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewData["Title"] = "DodajDodatak";

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@model OnlineFitnessShop.ViewModels.AdministratorVMs.DodatakDodajVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj dodatak</title>

</head>
<body>

    <div class="dodajProizvodForm">
        <div class="panel-heading">
            <div class="panel-title">
                Dodavanje novog dodatka
            </div>
        </div>
        <form asp-action="SpremiDodatak" enctype="multipart/form-data" id="dodavanjeDodatka">
            <div class="form-group">
                <label>Naziv proizvoda</label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Cijena</label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>Dobavljac</label>
                <select asp-for="DobavljacID" class="form-control" asp-items="Model.dobavljaci">
                    <span asp-validation-for="DobavljacID" class="text-danger"></span>
                    <option hidden readonly value="">Odaberi dobavljača za ovaj proizvod</option>

                </select>

            </div>

            <div class="form-group">
                <label>Odaberi tip dodatka</label>
                <select asp-for="TipDodatka" class="form-control" asp-items="Model.tipDodatkaList">
                    <br />
                    <span asp-validation-for="TipDodatka" class="text-danger"></span>
                    <option hidden readonly value="">tip dodatka:</option>
              
                </select>

            </div>

            <div class="form-group">
                <label>Kolicina</label>
                <input asp-for="Kolicina" class="form-control" />
                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Namjena</label>
                <input asp-for="Namjena" class="form-control" />
                <span asp-validation-for="Namjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Slika proizvoda</label>
                <input asp-for="@Model.slika" class="form-control" />
            </div>

            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Dodaj</button>

        </form>
    </div>
</body>
</html>


<script>
    $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
        },
        "Please check your input."
    );

    $("#dodavanjeDodatka").validate({
        rules: {
            Naziv: {
                required: true,
                minlength: 3,
                regex: /^[A-Z]+[a-zA-Z .]{1,}/
            },
           Cijena: {
                required: true,
               min: 1,
                number:true

            },
            DobavljacID: {
                required: true

            },
            TipDodatka: {
                required: true

            },
            Namjena: {
                required: true,
                minlength: 5,
                regex: /^[A-Z]+[a-zA-Z ]{1,}/

            },
            Kolicina: {
                required: true,
                min: 1,
                number:true
            },
  


        },
        messages: {
            Naziv: {
                required: "Naziv dodatka je obavezno polje!",
                minlength: "Minimalno unesi 3 slova!",
                regex: "Prvo slovo mora biti veliko"
            },
            Cijena: {
                required: "Cijena dodatka je obavezna!",
                min: "unesi cijenu vecu od 0!",
                number:"Dozvoljen unos brojeva samo!"

            },
            DobavljacID: {
                required: "Odaberi dobavljača za dodatak!"
            },
            TipDodatka: {
                required: "Odaberi tip dodatka!"

            },
            Namjena: {
                required: "Unesi namjenu dodatka",
                minlength:"Unesi 5 slova minimalno",
                regex: "Unesi prvo slovo veliko"
            },
            Kolicina: {
                required: "Unesi količinu na stanju dodatka!",
                min: "Unesi količinu vecu od 0",
                number:"Dozvoljeno je samo brojeve unositi!"
            },
   

        }


    });
</script>
