@{
    Layout = "KupacLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uspjesno</title>

    <style>
        h3 {
            color: #2b7ecc;
            text-align: center;
            font-weight: bold;
            margin-top: 150px;
            margin-bottom: 150px;
        }
    </style>
</head>
<body>
    <h3>Uspjesno ste kreirali račun !</h3>
</body>
</html>
