@using OnlineFitnessShop.ViewModels.Kupac;
@using ClassLibrarySeminarski.Model;
@using OnlineFitnessShop.Helpers;
@model OnlineFitnessShop.ViewModels.Kupac.PasswordVM;
@{
    string poruka = (string)TempData["poruka"];
    string poruka2 = (string)TempData["poruka2"];
    PasswordVM kor = (PasswordVM)TempData["Korisnik"];

    Layout = "~/Views/Shared/korisnikProfil.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Kupac/cssZaView.css">
</head>
<body>
    <div class="container-l">
        <div class="l2">
            <form asp-action="SnimiPassword" id="updatePassword">

                @if (poruka != null)
                {

                    <div class="alert alert-danger">
                        @poruka
                    </div>
                }

                @if (poruka2 != null)
                {

                    <div class="alert alert-success">
                        @poruka2
                    </div>
                }

                @*value="@kor.StariPassword*@
                @*value="@kor.TempText1"
                value="@kor.TempText2"*@

                <input asp-for="ID" value="@kor.ID" hidden /><br />

                <div class="form-group">
                    <label class="labelB">Trenutni password</label>
                    <input asp-for="StariPassword" type="password" class="inputB" /><br />
                </div>

                <div class="form-group">
                    <label class="labelB">Novi password</label>
                    <input asp-for="TempText1" type="password" id="password" class="inputB" /><br />
                </div>

                <div class="form-group">
                    <label class="labelB">Potvrda novog password-a</label>
                    <input asp-for="TempText2" type="password" class="inputB" /><br />
                </div>

                <div class="button-cont">
                    <button class="btn btn-info" type="submit">UPDATE</button>
                </div>


            </form>
        </div>
    </div>
</body>
<script>
    $.validator.addMethod(
        "regex",
        function (value, element, regexp) {
            var check = false;
            return this.optional(element) || regexp.test(value);
        },
        "Please check your input."
    );

    $("#updatePassword").validate({
        rules: {
            StariPassword: {
                required: true,
                regex: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}$/

            },
            TempText1: {
                required: true,
                regex: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}$/

            },
            TempText2: {
                required: true,
                regex: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}$/,
                equalTo: "#password"

            }
        },
        messages: {
            StariPassword: {
                required: "Obavezno polje!",
                regex: "Minimalno 6 karaktera , 1 veliko slovo i 1 broj !"
            },
            TempText1: {
                required: "Obavezno polje!",
                regex: "Min. 6 karaktera , 1 veliko slovo i 1 broj !"
            },
            TempText2: {
                required: "Obavezno polje!",
                regex: "Min. 6 karaktera , 1 veliko slovo i 1 broj !",
                equalTo:"Passwordi se ne podudaraju!"
            }

        }
  
    });
</script>